.repos {
    background-color: lightgray;
    padding: 32px 0;
}

.description {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(238, 240, 241, 0.5);
    border: 1px solid rgba(172, 175, 176, 0.3);
    border-radius: 12px;
}
