.home {
    position: relative;
    height: 800px;
    min-height: 500px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* vertically center banner section */
.home:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.home .banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

.home .bannerText {
    width: 100%;
}

.home .bannerText h1 {
    font-size: 90px;
    line-height: 1.1em;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
}
.home .bannerText h3 {
    font-size: 18px;
    line-height: 1.9em;
    color: #ddd;
    margin: 0 auto;
    width: 70%;
}

.home .bannerText h3 span,
.home .bannerText h3 a {
    color: #fff;
}

.home .bannerText hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2f2d2e;
    border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
.home .social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
}

.home .social li {
    display: inline-block;
    margin: 0 15px;
    padding: 0;
}

.home .social li .projectButton {
    background-color: #1abc9c !important;
}

.home .social li .linkedinButton {
    background-color: #34495e !important;
}

/* scrolldown link */
.home .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.home .scrolldown a:hover {
    color: #0762f9;
}
