/* nav-wrap */
.navWrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    
    /* margin: 0 auto; */
    z-index: 100;
    left: 0;
    top: 0;
}

/* .navWrapper ul,
.navWrapper li,
.navWrapper a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
} */

/* I am not using the below class */
/* .opaque {
    background-color: #333;
} */

/* hide toggle button */
.navWrapper > a.mobileBtn {
    display: none;
}

ul.nav {
    display: flex;
    font-family: var(--vt323-font);
    list-style-type: none;
    min-height: 48px;
    width: auto;
    margin: 0;

    /* center align the menu */
    /* text-align: center; */
}

/* ul.nav li {
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
} */

/* Links */
ul.nav li a {
    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    display: inline-flex;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    /* text-align: left; */
    color: white;

    // -webkit-transition: color 0.2s ease-in-out;
    // -moz-transition: color 0.2s ease-in-out;
    // -o-transition: color 0.2s ease-in-out;
    // -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;

    // &:active {
    //     background-color: transparent !important;
    // }

    &:hover {
        text-shadow: 2px 2px 2px red;

        // border-bottom: 14px solid orange !important;
        // background-color: orange !important;
    }
}


ul.nav li.current a {
    color: #fe6928;
}
