html {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    scroll-padding-top: 48px;
}

body {
    position: relative;
    overflow-x: hidden;
    background-color: whitesmoke;
}

a:visited,
a:hover,
a:active {
    color: inherit;
}
