.footer {
    position: relative;
    font-size: 18px;
    background-color: khaki;
    text-align: center;
    padding: 48px 0 24px;

    &_contacts {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

        @media (min-width: 768px) {
            flex-flow: row nowrap;
            background-color: red;
        }

        &_email {
            display: inline-flex;
            flex-flow: row-reverse nowrap;
            align-items: center;
            border-radius: 16px;
            padding: 16px;
            color: white;
            background-color: black;

            a {
                font-size: 24px;
                text-decoration: none;
                color: white;
                font-weight: lighter;
                margin-right: 24px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &_links {
            padding: 0;

            li {
                display: inline-flex;
                margin: 0;
                padding: 0;

                &:not(:first-child) {
                    margin-left: 40px;
                }

                @media (min-width: 768px) {
                    margin-left: 40px;
                }

                a:first-child {
                    transition: color 0.1s ease-in-out;

                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }

    &_copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_goToTop {
        display: inline-flex;
        position: absolute;
        top: -24px;
        left: 50%;
        margin-left: -30px;

        &_anchor {
            transition: all 0.1s ease-in-out;
            border-radius: 100%;
            background-color: khaki;
            padding: 8px;

            &:hover {
                background-color: darkkhaki;
            }
        }
    }
}
