.readme {
    display: flex;
    margin: 80px 0 32px;

    @media (min-width: 576px) {
        margin: 124px 0 32px;
    }

    &_markdownStyles {
        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 32px;
        }

        h1,
        h2,
        h3 {
            margin: 16px 0;

            @media (min-width: 576px) {
                margin: 32px 0;
            }
        }

        p,
        pre,
        li,
        a {
            font-size: 24px;
        }

        code {
            font-size: 18px;
        }

        a {
            color: blue;
        }

        pre {
            color: white;
            background-color: black;
            border-radius: 8px;
            white-space: pre-line;
            padding: 12px;
        }
    }
}
