.tag {
    color: black;
    font-size: 85%;
    border: 1px solid black;
    border-radius: 32px;
    white-space: nowrap !important;
    line-height: 18px;
    padding: 2px 8px;
    margin-bottom: 8px;

    &:not(:last-child) {
        margin-right: 8px;
    }
}

.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
